
@{
    ViewBag.Title = "AddMediaPage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>AddMediaPage</h2>


<!-- Modal -->
<div class="row">
    <div class="col-6">
        <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#addmediamodelModal"><i class="fa fa-plus" aria-hidden="true"></i> Add New AddMedia</button>
    </div>
    <div class="col-6"><span class="mediatypesuccessmessage" id="addmediasuccessmessage"></span></div>
</div>


<!------------------------------------------------------------------------------------------------------------------>
<div class="modal fade" id="addmediamodelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Add And Update Media</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="ResetFormAddMedia();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>

                    <div class="form-group">
                        <input type="text" id="addmediaid" hidden />
                        <label for="mediatypename">MediaType: </label>
                        <select class="form-control" id="mediatypeiddropdownlist"></select>
                        <span class="validationmediatypevalidation" id="validationmediatyp"></span>
                    </div>

                    <div class="form-group">

                        <label for="mediatypename">Song Name: </label>
                        <select class="form-control" id="mediadropdownlist"></select>
                        <span class="validationmediatypevalidation" id="validationmedia"></span>
                    </div>

                    <div class="form-group">

                        <label for="mediatypename">Enter Rent: </label>
                        <input type="text" class="form-control" id="rent" placeholder="Enter Rent">
                        <span class="validationmediatypevalidation" id="validationrent"></span>
                    </div>

                    <div class="form-group">

                        <label for="mediatypename">Description: </label>
                        <textarea class="form-control" id="description" placeholder=" please Write Description here"></textarea>
                        <span class="validationmediatypevalidation" id="validationdescription"></span>
                    </div>


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="saveaddmedia();"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
                <button type="button" class="btn btn-warning" style="color:white!important" onclick="ResetFormAddMedia();"><i class="fa fa-refresh" aria-hidden="true"></i> Reset</button>

                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="ResetFormAddMedia();"><i class="fa fa-times" aria-hidden="true"></i> Close</button>

            </div>
        </div>
    </div>
</div>
<!------------------------------------------------------------------------------------------------>

<div>
    <div>
        <div>
            <table class="table table-hover" id="AddMeditable" style="width:100%!important">
                <thead>
                    <tr>
                        <th>MediaTypeName</th>
                        <th>SongName</th>
                        <th>Dscription</th>
                        <th>Rent</th>
                        <th>Action Button</th>
                    </tr>
                </thead>

               
            </table>
        
        </div>
    </div>
</div>


<!---------------------------------------------------------------------------------->
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="addmediadeleteModalLabel" tabindex="-1" role="dialog" aria-labelledby="mediadeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Media Deleted</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <input type="text" id="addmediaupdateid" hidden />
                    <div class="alert alert-danger" role="alert"><h5>Do you Wonts Deleted records Yes/NO</h5></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="addmediadeleted();"><i class="fa fa-check" aria-hidden="true"></i> Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> No</button>

            </div>
        </div>
    </div>
</div>


<!---------------------------------------------------------------------------------->
