
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SakhirInternationalHotal(SIR)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />


    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Animate.css -->
    <link rel="stylesheet" href="~/FrontDeskTamplates/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/FrontDeskTamplates/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/FrontDeskTamplates/css/bootstrap.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/FrontDeskTamplates/css/magnific-popup.css">
    <!-- Flexslider  -->
    <link rel="stylesheet" href="~/FrontDeskTamplates/css/flexslider.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="~/FrontDeskTamplates/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/FrontDeskTamplates/css/owl.theme.default.min.css">

    <!-- Date Picker -->
    <link rel="stylesheet" href="~/FrontDeskTamplates/css/bootstrap-datepicker.css">
    <!-- Flaticons  -->
    <link rel="stylesheet" href="~/FrontDeskTamplates/fonts/flaticon/font/flaticon.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="~/FrontDeskTamplates/css/style.css">
    <!-- Modernizr JS -->

    <link href="~/Content/cssfile/Registration.css" rel="stylesheet" />
    <link href="~/Content/cssfile/Login.css" rel="stylesheet" />
    <link href="~/Content/cssfile/ViewAccommodationpackagePage.css" rel="stylesheet" />

    <script src="~/FrontDeskTamplates/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>



    <![endif]-->
</head>
<body>

    <div class="colorlib-loader"></div>

    <div id="page">

        <nav class="colorlib-nav" role="navigation">
            <div class="top">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-4">
                            <p class="site">www.yoursitehere.com</p>
                        </div>
                        <div class="col-xs-8 text-right">
                            <p class="num">Call: +01-123-456</p>
                            <ul class="colorlib-social">
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                                <li><a href="#"><i class="icon-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-2">
                            <div id="colorlib-logo"><a href="/Home/Index/">
                                
                                @Variables.HotalShortNname 
                                 </a></div>
                        </div>
                        <div class="col-xs-10 text-right menu-1">
                            <ul>
                                <li class="active"><a href="/Home/Index/">Home</a></li>
                                <li class="has-dropdown">
                                    <a href="/Home/roomssuites/">Rooms</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Web Design</a></li>
                                        <li><a href="#">eCommerce</a></li>
                                        <li><a href="#">Branding</a></li>
                                        <li><a href="#">API</a></li>
                                    </ul>
                                </li>
                                <li><a href="/Home/diningbar/">Dining &amp; Bar</a></li>
                                <li><a href="/Home/aminities/">Aminities</a></li>
                                <li><a href="/Home/blog/">Blog</a></li>
                                <li><a href="/Home/About/">About</a></li>
                                <li><a href="/Home/Contact/">Contact</a></li>

                                @if (Session["customeruserName"] != null)
                                {
                                    <li><a href="#"></a><span class="usernameprint">Hi! @Session["customeruserName"].ToString()</span></li>
                                    <li><a href="#">LogOut</a></li>

                                }
                                else
                                {
                                    <li><a href="/Customer/RegistrationPage/">Regitration</a></li>
                                    <li><a href="/Login/LoginPage/">Login</a></li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        @RenderBody();
      
        <div id="colorlib-subscribe" style="background-image: url(/FrontDeskTamplates/images/img_bg_2.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
                        <span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span>
                        <h2>Sign Up for a Newsletter</h2>
                        <p>Get A 50% Discounts in every Rooms, Book now!</p>
                        <form class="form-inline qbstp-header-subscribe">
                            <div class="row">
                                <div class="col-md-12 col-md-offset-0">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="email" placeholder="Enter your email">
                                        <button type="submit" class="btn btn-primary">Subscribe</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer id="colorlib-footer" role="contentinfo">
            <div class="container">
                <div class="row row-pb-md">
                    <div class="col-md-3 colorlib-widget">
                        <h4> @Variables.HotalFullNname </h4>
                        <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
                        <p>
                            <ul class="colorlib-social-icons">
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                                <li><a href="#"><i class="icon-dribbble"></i></a></li>
                            </ul>
                        </p>
                    </div>
                    <div class="col-md-3 colorlib-widget">
                        <h4>Quick Links</h4>
                        <p>
                            <ul class="colorlib-footer-links">
                                <li><a href="#">Accomodation</a></li>
                                <li><a href="#">Dining &amp; Bar</a></li>
                                <li><a href="#">Restaurants</a></li>
                                <li><a href="#">Beach &amp; Resorts</a></li>
                            </ul>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <h4>Recents Blog Post</h4>
                        <ul class="colorlib-footer-links">
                            <li><a href="#">The Ultimate Packing List For Female Travelers</a></li>
                            <li><a href="#">How These 5 People Found The Path to Their Dream Trip</a></li>
                            <li><a href="#">A Definitive Guide to the Best Dining and Drinking Venues in the City</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-md-push-1">
                        <h4>Contact Information</h4>
                        <ul class="colorlib-footer-links">
                            <li>291 South 21th Street, <br> Suite 721 New York NY 10016</li>
                            <li><a href="tel://1234567920">+ 1235 2355 98</a></li>
                            <li><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
                            <li><a href="http://luxehotel.com">luxehotel.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>
                            <small class="block">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart3" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </small>
                            <small class="block">Demo Images: <a href="http://unsplash.com/" target="_blank">Unsplash</a></small>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
    </div>

    <!-- jQuery -->
    <script src="~/FrontDeskTamplates/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="~/FrontDeskTamplates/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="~/FrontDeskTamplates/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="~/FrontDeskTamplates/js/jquery.waypoints.min.js"></script>
    <!-- Flexslider -->
    <script src="~/FrontDeskTamplates/js/jquery.flexslider-min.js"></script>
    <!-- Owl carousel -->
    <script src="~/FrontDeskTamplates/js/owl.carousel.min.js"></script>
    <!-- Magnific Popup -->
    <script src="~/FrontDeskTamplates/js/jquery.magnific-popup.min.js"></script>
    <script src="~/FrontDeskTamplates/js/magnific-popup-options.js"></script>
    <!-- Date Picker -->
    <script src="~/FrontDeskTamplates/js/bootstrap-datepicker.js"></script>
    <!-- Main -->
    <script src="~/FrontDeskTamplates/js/main.js"></script>
    <script src="~/Scripts/jsfile/Registration.js"></script>
    <script src="~/Scripts/jsfile/Login.js"></script>

    <script src="~/Scripts/jsfile/ViewAccommodationPackage.js"></script>


</body>
</html>
