
@{
    ViewBag.Title = "RoomsPage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>RoomsPage</h2>
<div>
    <div>
        <table class="table table-hover" id="rooms" style="width:100%!important;">
            <thead>
                <tr>
                    <th>AccommodationTypeName</th>
                    <th>AccommodationPackageName</th>
                    <th>FeePerNight</th>
                    <th>NoOfRoom</th>
                    <th>AccommodationName</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
