
@{
    ViewBag.Title = "UserRegistrationform";
}



<div class="container-fluid table-responsive" style="color:cyan">
    <h2>Registration Form</h2>

         
                    <form id="demoForm">
                        <div class="form-group row">
                            <label for="name" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" data-validation="custom" data-validation-regexp="^([a-zA-Z]+)$" class="form-control" id="name" placeholder="name">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="name" class="col-sm-2 col-form-label">Gender</label>
                            <div class="col-sm-10">
                                <select name="answer" id="gender" data-validation="required" class="form-control">
                                    <option value=""> - - Gender - - </option>
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label for="dob" class="col-sm-2 col-form-label">Dob</label>
                            <div class="col-sm-10">
                                <input type="text" data-validation="birthdate" data-validation-format="dd/mm/yyyy" class="form-control" id="dob" placeholder="dd/mm/yyyy">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="email" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="email" id="email" data-validation="email" data-validation-error-msg="User name has to be an alphanumeric value (3-12 chars)">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="contact" class="col-sm-2 col-form-label">Contact</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="contact" data-validation="number" placeholder="contact">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="pincode" class="col-sm-2 col-form-label">Pincode</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="pincode" data-validation="number" placeholder="pincode">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" data-validation="length " data-validation-length="3-12" data-validation-error-msg="Password has to be an alphanumeric value (3-12 chars)" id="password" placeholder="password">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="address" class="col-sm-2 col-form-label">Address</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control"  data-validation-length="min4" id="address" placeholder="address">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input type="submit" class="form-control btn btn-success" onclick="Registrationcustomer()" value="Submit">
                            </div>
                        </div>






                        <div class="modal-footer">
                           
                            @*<button type="reset" class="btn btn-primary">Reset</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>*@
                       
                        </div>


                    </form>  
</div>    
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>


<script>
    $.validate({
        lang: 'es',
        modules: 'date',


    });

    function Registrationcustomer() {
        data = {};
        var name = $("#name").val();

        var gender = $("#gender").val();
        var dob = $("#dob").val();
        var email = $("#email").val();
        var contact = $("#contact").val();
        var pincode = $("#pincode").val();
        var password = $("#password").val();
        var address = $("#address").val();

        if (name != "" && dob != "" && gender != null && email != null && contact != null && pincode != null && password != null && address !=null ) {

            data.Name = name;
            data.Gender = gender;
            data.Dob = dob;
            data.Email = email;
            data.Contact = contact;
            data.Pincode = pincode;
            data.Password = password;
            data.Address = address;
            data.Roll = "User";


            $.ajax({
                type: "Post",
                url: "/User/Create",
                data: data,
                success: function (model) {

                    alert("data insert Succefully");

                },
                Error: function (error) {
                    alert(error);
                }
            });


        }
        else {
            alert("Required all fields");
        }

    };
</script>
