
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<div>

    @*<div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">SSNO</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="ssno" placeholder="Enter SSNO">
        </div>
    </div>*@

    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" placeholder="Enter Name">
        </div>
    </div>

    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">DOB</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="dob" placeholder="Enter DOB">
        </div>
    </div>

    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Contact</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="contact" placeholder="Enter CONTACT">
        </div>
    </div>

    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="address" placeholder="Enter ADDRESS">
        </div>
    </div>

    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="email" placeholder="Enter EMAIL">
        </div>
    </div>

    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="password" placeholder="Enter PASSWORD">
        </div>
    </div>

    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input type="submit" onclick="create();" class="form-control btn btn-success" value="Submit">

        </div>
    </div>

</div>


<script>


    function create() {
        data = {};
        //var ssan = $("#ssno").val();
        var name = $("#name").val();
        var dob = $("#dob").val();
        var contact = $("#contact").val();
        var address = $("#address").val();
        var email = $("#email").val();
        var password = $("#password").val();

        //data.Ssno = ssan;
        data.Name = name;
        data.Dob = dob;
        data.Contact = contact;
        data.Address = address;
        data.Email = email;
        data.Password = password;

        alert("djsjks");

        $.ajax({
            type: "Post",
            url: "/Patient/Registration",
            data: data,
            success: function (model) {

                showdata();

            }
        });
    }
</script>