
@{
    ViewBag.Title = "Get";
    Layout = "~/Views/Shared/_DoctorLayOut.cshtml";
}

<link href="~/datatable/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/datatable/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<h2>Get</h2>


<div class="">
    <div class="row">
        <div class="col-lg-12">

            <table class="table table-bordered table-hover table-striped" style="width:auto!important" id="tablepatient">
                <thead style="width:100%!important">
                    <tr>
                        <th>SSNO</th>
                        <th>NAME</th>
                        <th>DOB</th>
                        <th>CONTACT</th>
                        <th>ADDRESS</th>
                        <th>EMAIL</th>
                        <th>ROLL</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
    </div>
</div>

@*------------------------------------------------------------------------------------------------------------*@
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>


            <div class="modal-body">
                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" hidden id="eid" placeholder="Enter Name">
                        <input type="text" class="form-control" id="ename" placeholder="Enter Name">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label">DOB</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="edob" placeholder="Enter DOB">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label">Contact</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="econtact" placeholder="Enter CONTACT">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label">Address</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="eaddress" placeholder="Enter ADDRESS">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="eemail" placeholder="Enter EMAIL">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="update();">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

@*------------------------------------------------------------------------------------------------------------*@
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/datatable/js/dataTables.bootstrap.min.js"></script>
<script src="~/datatable/js/jquery.dataTables.min.js"></script>


<script>

    $(document).ready(function () {
        showdata();

    });


    function showdata() {
        var oTable = $("#tablepatient").dataTable();
        oTable.fnDestroy();
        oTable.fnClearTable();

        $("#tablepatient").dataTable({
            "ajax": {
                "url": "/Patient/ViewPatientList",
                "type": "Post",
                "datatype": "json"
            },
            "columns": [

                { "data": "Ssno", "name": "Ssno" },
                { "data": "Name", "name": "Name" },
                { "data": "Dob", "name": "Dob" },
                //{ "data": "Gender", "name": "Gender" },
                { "data": "Contact", "name": "Contact" },
                { "data": "Address", "name": "Address" },
                { "data": "Email", "name": "Email" },


                { "data": "Roll", "name": "Roll" },


                {
                    "data": "", "name": "", "autoWidth": true,
                    render: function (data, type, row) {
                        return '<button class="btn btn-info"  onclick=search(' + row.Id + ');>Edit</button> <button class="btn btn-danger" onclick =Delete(' + row.Id + ');> Delete</button >';
                    }
                }


            ],
            "serverSide": "true",
            "order": [0, "asc"],
            "processing": "true",
            "language": {
                "processing": "processing......please wait"
            }
        });

    };

</script>

<script>

    function Delete(p) {

        data = { Id: p };



        $.ajax({
            type: "Post",
            url: "/Patient/Delete",
            data: data,

            success: function (data) {
                showdata();
                if (data != null) {
                    if (data == "recordsdeleted") {
                        alert("Delete Patient");
                    }
                    else if (data == "recordnotdeleted") {
                        alert("Not Delete")
                    }
                    else if (data == "exception") {
                        alert("oop something problems");
                    }
                }
            }
        });

    };

    function search(p) {
        data = { Id: p };



        $.ajax({
            type: "Post",
            url: "/Patient/search",
            data: data,

            success: function (data) {
                $("#myModal").modal("show");

                $("#eid").val(data.Id);
                $("#ename").val(data.Name);
                $("#edob").val(data.Dob);
                $("#eaddress").val(data.Address);
                $("#econtact").val(data.Contact);
                $("#eemail").val(data.Email);
            }
        });

    }

    function update() {
        data = {};
        var id = $("#eid").val();
        var name = $("#ename").val();
        var address = $("#eaddress").val();
        var contact = $("#econtact").val();
        var email = $("#eemail").val();
        var dob = $("#edob").val();

        data.Id = id;
        data.Name = name;
        data.Dob = dob;
        data.Address = address;
        data.Email = email;
        data.Contact = contact;
        $.ajax({
            type: "Post",
            url: "/Patient/Update",
            data: data,

            success: function (data) {
                $("#myModal").modal("hide");
                showdata();
                if(data != null)
                {                   
                    
                    if (data == "recordupdate") {

                        alert("records Update");
                    }
                    else if (data = "recordnotupdate") {
                        alert(" Rebords Not Update");
                    }
                    else if (data = "exception") {
                        alert("Server Error");
                    }
                    else {
                        alert("Server Busessy");
                    }
                    
                }
                else{
                
}
            }
        })
    }

</script>