
@{
    ViewBag.Title = "ViewUserPage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>ViewUserPage</h2>

<div>
    <div>
        <div>
            <table class="table" id="Usertable" style="width:100%!important">
                <thead>
                    <tr>
                        <th>UserName</th>
                        <th>UserEmail</th>
                        <th>UserContact</th>
                        <th>UserAddress</th>
                        <th>UserRoll</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>      