
@{
    ViewBag.Title = "Appoiment";
}

<h2>Appoiment</h2>


<div class="container">
    <div class="row">
        <div class="col=lg-8 col-md-8 col-sm-4">
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Doctor</label>
                <div class="col-sm-10">
                    <select class="form-control" id="ddlCustomers"></select>
                </div>
            </div>

            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label">Problame</label>
                <div class="col-sm-10">
                    <select class="form-control" id="Problame">
                        <option>Select Problame</option>
                        <option value="1">A</option>
                        <option value="2">A</option>
                        <option value="3">A</option>
                        <option value="4">A</option>
                        <option value="5">A</option>
                    </select>

                </div>
            </div>

            <div class="form-group row">
                
                <label for="name" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    
                    <button class="btn btn-success  " onclick="Add();">Submit</button>
                </div>
            </div>

        </div>
        <div class="col=lg-2 col-md-4 col-sm-4">


            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Check Appoiment</button>


        </div>
    </div>

</div>
@*------------------model start-----------------------------*@
<div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


</div>

@*------------------model End-----------------------------*@

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        abc();
    });

    function abc() {
        var ddlCustomers = $("#ddlCustomers");
        ddlCustomers.empty().append('<option selected="selected" value="0" disabled = "disabled">Loading.....</option>');
        $.ajax({
            type: "POST",
            url: "/Doctor/dropdownList",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                ddlCustomers.empty().append('<option selected="selected" value="0">Please select</option>');
                $.each(response, function (index, result) {

                    ddlCustomers.append($("<option></option>").val(result.Id).html("Dr: " + result.Name));
                });
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    };
</script>

<script>

        $(document).ready(function () {
            list();
        });

    function Add() {
        alert("dskjsgk");
            data = {};
            var did = $("#ddlCustomers").val();
            var proid = $("#Problame").val();
            data.DoctorId= did;
            data.ProblameId= proid;

            $.ajax({

                type: "POST",
                url: "/Patient/createproblame",
                data: data,

                dataType: "json",
                success: function (response) {
                   
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        };
    </script>