
@{
    ViewBag.Title = "createpage";
}

<br />

<div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="name" placeholder="Name">
    </div>
</div>


<div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">Gender</label>
    <div class="col-sm-10">


        <select class="form-control" id="gender">
            <option selected> select Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>

    </div>
</div>


<div class="form-group row">
    <label for="dob" class="col-sm-2 col-form-label">Dob</label>
    <div class="col-sm-10">
        <input type="datetime" s class="form-control" id="dob" placeholder="DOB">
    </div>
</div>

<div class="form-group row">
    <label for="email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="email" placeholder="Email">
    </div>
</div>

<div class="form-group row">
    <label for="contact" class="col-sm-2 col-form-label">Contact</label>
    <div class="col-sm-10">
        <input type="number" class="form-control" id="contact" placeholder="Contact">
    </div>
</div>

<div class="form-group row">
    <label for="address" class="col-sm-2 col-form-label">Address</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="address" placeholder="address">
    </div>
</div>

<div class="form-group row">
    <label for="password" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="password" placeholder="password">
    </div>
</div>


<div class="form-group row">
    <label for="password" class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
       <input class="btn btn-success form-control" value="Submit" type="submit">
    </div>
</div>





<script>
    function create() {
        data = {};

        var name = $("#name").val();
        var dob = $("#dob").val();
        var emai = $("#email").val();
        var password = $("#password").val();
        var contact = $("#contact").val();
        var address = $("#address").val();

        data: Name = name;
        data: Dob: dob;
        data: Email = email;
        data: Password = password;
        data: Contact = contact;
        data: Address = address;



        $.ajax({
            type: "POST",
            url: "/Patient/Create",
            dataType: "json",
            data: data,
            success: function (response) {
                if (response == "RecordsDelete") {
                    $('#confirm-delete').modal('hide');

                    mediadatashow();
                }
                else if (response == "Recordsnotdelete") {
                    alert("Records Not Delete");
                }
            },
            error: function (message) {
                mediadatashow();
                console.log(message);
            }
        });


    }
</script>



