
@{
    ViewBag.Title = "Index";
}

<div class="row">

    @using (Html.BeginForm("save", "Rent", FormMethod.Post, new { id = "popupForm" }))
    {
        <div>
            <h1>car Rental</h1>
        </div>


        <div class="form-group">
            <label class="form-lable">Car No</label>
            <select class="form-control" id="carno" name="carno" placeholder="CarNo" required>
                <option>Please Select</option>
            </select>
        </div>


        <div class="form-group">
            <label class="form-lable">Cus No</label>
            <input type="text" id="custid" name="custid" class="form-control" placeholder="cusid" required />
        </div>

        <div class="form-group">
            <label class="form-lable">Cus Name</label>
            <input type="text" id="cusname" name="cusname" class="form-control" placeholder="cusname" required />
        </div>

        <div class="form-group">
            <label class="form-lable">Rental Fee</label>
            <input type="text" id="rentfee" name="rentfee" class="form-control" placeholder="rentfee" required />
        </div>



        <div class="form-group">
            <label class="form-lable">Start Date</label>
            <input type="date" id="sdate" name="sdate" class="form-control" placeholder="sdate" required />
        </div>




        <div class="form-group">
            <label class="form-lable">End Date</label>
            <input type="date" id="edate" name="edate" class="form-control" placeholder="edate" required />
        </div>


        <div class="form-group">
            <input type="submit" value="save" class="btn btn-success" />

        </div>




    }

</div>

@section scripts{

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script>
        Getcar();

        function Getcar() {

            $.ajax({

                type: 'GET',
                url: '/Rent/Getcar',
                dataType: 'JSON',
                success: function (data) {
                    console.log(data);

                    for (var i = 0; i < data.length; i++) {
                        $("#carno").append($("<option/>", {
                            text: data[i].carno
                        }));
                    }
                }
            });
        };

    </script>
    <script>
        load();
        function load() {
            $("#userid").attr("disabled", "disabled");
            $("#cusname").attr("disabled", "disabled");
            $("#rentfee").attr("disabled", "disabled");
            $("#sdate").attr("disabled", "disabled");
            $("#edate").attr("disabled", "disabled");
        }



        getcustomer();

        function getcustomer() {

            $("#custid").keyup(function (e) {
                $.ajax({
                    type: 'Post',
                    url: '/Rent/Getid?id=' + $("#custid").val(),
                    dataType: 'Json',
                    success: function (data) {
                        $("#cusname").val(data)

                    }

                });
            });
        };
    </script>
}
