
@{
    ViewBag.Title = "LoginPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="backgroundimg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">

                <br />
                <br />

                <br />
                <div>
                    <div>
                        <div class="form-group row">
                            <label for="e" class="col-sm-2 col-form-label text-right"></label>
                            <div class="col-sm-10">
                                <h4><span class="message" id="invalidcrendtials"></span></h4>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="email" class="col-sm-2 col-form-label text-right">UserName</label>
                            <div class="col-sm-10">
                                <input type="text" class="formcontrol" id="loginemail" placeholder="Enter UserName">
                                <br /><span class="message" id="messageemaillogin"></span>
                            </div>
                        </div>



                        <div class="form-group row">
                            <label for="password" class="col-sm-2 col-form-label text-right">Password</label>
                            <div class="col-sm-10">
                                <input type="text" class="formcontrol" id="loginpassword" placeholder="Enter password">
                                <br /> <span class="message" id="messagepasswordlogin"></span>
                            </div>
                        </div>



                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <button class="btn btn-success regbutton" onclick="login();">SUBMIT</button>
                                <button class="btn btn-warning regbutton" onclick="loginformreset();">RESET</button>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">

                                <a href="#"><span>sign Up</span></a>
                                <a href="#" style="margin-left:120px;" data-toggle="modal" data-target="#passwordforgatemodel"><span>forgate password</span></a>

                            </div>
                        </div>

                    </div>
                </div>

            </div>


            <div class="col-lg-6 col-md-6 col-sm-12"></div>
        </div>
    </div>
</div>



@*-----------------------------Password forgate--------------------------------------*@

<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="passwordforgatemodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Password Foragte</h5>
                <button type="button" onclick="resetforgetform();" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:red">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="emailsend">
                    <div class="form-group">
                        <label for="femail">Enter Email</label>
                        <input type="text" class="form-control" id="femail">
                        <span class="forgtepsswordvalidation" id="forgatepasswordmessage"></span>
                    </div>
                </div>

                <div class="otpsend">
                    <div class="form-group">
                        <label for="femail">Enter OTP </label>
                        <input type="text" class="form-control" id="otpmatech">
                        <span class="forgtepsswordvalidation" id="otpvarification"></span>
                    </div>
                </div>


                <div class="passwordforgate">

                    <input type="text" id="npatientid" hidden />
                    <div class="form-group">
                        <label for="pwd">New Password:</label>
                        <input type="password" class="form-control" id="npassord">
                    </div>

                    <div class="form-group">
                        <label for="pwd">Confirm Password:</label>
                        <input type="password" class="form-control" id="cpassword">
                    </div>

                </div>
            </div>
            <div class="modal-footer">

                <div class="emailsend">
                    <button type="button" class="btn btn-success" onclick="forgatepassword();">Submit</button>
                </div>

                <div class="otpsend">
                    <button type="button" class="btn btn-success" onclick="otpvarification();">Submit</button>
                </div>

                <div class="passwordforgate">
                    <button type="button" class="btn btn-success" onclick="addnewpassword();">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>