
@{
    ViewBag.Title = "GetPatientAppoimentpendingList";
    Layout = "~/Views/Shared/_AdmainLayout.cshtml";
}

<h2>GetPatientAppoimentpendingList</h2>

<table class="table" id="appoimentlistpatientList">
    <thead>
        <tr>
            <th>DoctorTypeName</th>
            <th>Action</th>
        </tr>
    </thead>

    <tfoot>
    </tfoot>

</table>