
@{
    ViewBag.Title = "patientcheckAppoiment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>patientcheckAppoiment</h2>

<table class="table">
    <thead>
        <tr>
            <th>PatientName</th>
            <th>DoctorName</th>
            <th>AppointmentBookingDate</th>
            <th>AppointmentDateStart</th>
            <th>AppointmentDateEnd</th>
            <th>AppointmentPatientSession</th>
            <th>AppointmentStatus</th>
        </tr>
    </thead>
    <tbody id="showdoneappoiment"></tbody>
</table>


@*---------------------------------------------------------*@
<table class="table">
    <thead>
        <tr>
            <th>PatientName</th>
            <th>DoctorName</th>
            <th>AppointmentBookingDate</th>
            <th>AppointmentDateStart</th>
            <th>AppointmentDateEnd</th>
            <th>AppointmentPatientSession</th>
            <th>AppointmentStatus</th>
        </tr>
    </thead>
    <tbody id="showdoneappoimentpanding"></tbody>
</table>