
@{
    ViewBag.Title = "ViewBookingCheckOutPage";
    Layout = "~/Views/Shared/_CounterOlyout.cshtml";
}

<h2>ViewBookingCheckOutPage</h2>






<br /><br />
<div>
    <div>
        <table class="table table-hover" id="hotalbookingtableCheckout" style="width:100%!important">
            <thead>
                <tr>

                    <th>GuestName</th>
                    <th>BookingEmail</th>
                    <th>CheckInDate</th>
                    <th>CheckOutDate</th>
                    <th>ActionButton</th>
                </tr>
            </thead>
        </table>
    </div>
</div>



<!------------------------------------------Hota booking Model---------------------------------------------------->
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="hotalbookingdetailsModalcheckout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Customer Booking Hotal Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div>
                        <table class="table table-hover">

                            <tr><th>GuestName</th><td id="GuestNamecheckout"></td></tr>
                            <tr><th>BookingEmail</th><td id="BookingEmailcheckout"></td></tr>
                            <tr><th>BookingDate</th><td id="BookingDatecheckout"></td></tr>
                            <tr><th>CheckInDate</th><td id="CheckInDatecheckout"></td></tr>
                            <tr><th>AccommodationTypeName</th><td id="AccommodationTypeNamecheckout"></td></tr>
                            <tr><th>AccommodationPackageName</th><td id="AccommodationPackageNamecheckout"></td></tr>
                            <tr><th>FeePerNight</th><td id="FeePerNightcheckout"></td></tr>
                            <tr><th>Duration</th><td id="Durationcheckout"></td></tr>
                            <tr><th>NoOfAdults</th><td id="NoOfAdultscheckout"></td></tr>
                            <tr><th>NoOfChildren</th><td id="NoOfChildrencheckout"></td></tr>
                            <tr><th>AccommodationName</th><td id="AccommodationNamecheckout"></td></tr>
                            <tr><th>NoOfRoom</th><td id="NoOfRoomcheckout"></td></tr>
                            <tr><th>TotalAmount</th><th id="totalAmountcheckout"></th></tr>
                            <tr><th>CustomerName</th><td id="CustomerNamecheckout"></td></tr>
                            <tr><th>CustomerContact</th><td id="CustomerContactcheckout"></td></tr>

                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>