body {
}


.formcontrollogin
{
    width:48%;
    height:55px;
  
    margin-left:3px;
    padding-right:50px;
}


.logincustomerbutton
{
    color:white;
    padding-top:10px;
}

.Invalimessage
{
    color:red;
    text-align:center;
    font-size:20px;
    font-family:'Arial Rounded';
    font-weight:bolder;
        
}

.usernameprint{
    color:green;
    font-weight:bolder;
}