<div class="row">
    <div class="col-sm-4">

        @using (Html.BeginForm("save", "returncar", FormMethod.Post, new { id = "popupForm" }))
        {
            <div>
                <h1>Car Rentail</h1>
            </div>

            <div>
                <div class="form-group">
                    <label class="form-label">Car No</label>
                    <input type="text" id="carno" name="carno" class="form-control" placeholder="carid" required />


                </div>

                <div class="form-group">
                    <label class="form-label">Customer Id</label>
                    <input type="text" id="custid" name="custid" class="form-control" placeholder="customerId" required />

                </div>

                <div class="form-group">
                    <label class="form-label">Date</label>
                    <input type="text" id="date" name="date" class="form-control" placeholder="customername" required />

                </div>


                <div class="form-group">
                    <label class="form-label">Days Elapsed</label>
                    <input type="text" id="elsp" name="elsp" class="form-control" placeholder="RentailFee" required />
                </div>



                <div class="form-group">
                    <label class="form-label">fine</label>
                    <input type="text" id="fine" name="fine" class="form-control" placeholder="start date" required />
                </div>




                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Save" />
                </div>


            </div>

        }
    </div>

</div>


<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>

<script>

    getcarid();

    function getcarid() {
        $("#carno").keyup(function (e) {

            $.ajax({

                type: 'POST',
                url: '/returncar/Getid?carno=' + $("#carno").val(),
                datatype: 'JSON',
                success: function (data) {


                   
                    $("#custid").val(data[0].Custid);
                    $("#date").val(new Date(parseInt(data[0].EndDate.substr(6))).toLocaleDateString());
                  
                    $("#elsp").val(data[0].ElapsedDays);

                    var elap = data[0].ElapsedDays;
                    if (elap > 0) {

                        var fine = elap * 100;
                        $("#fine").val(fine.toString());
                    }
                    else {

                        $("#fine").val("0");
                    }
                }

            });

        });

    }
</script>