@{
    ViewBag.Title = "Home Page";
}

<div>@Html.Partial("Create")</div>

<div>
    <table class="table table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Contact</th>
                <th>Address</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
