
@{
    ViewBag.Title = "AllListPatient";
    Layout = "~/Views/Shared/_AdmainLayout.cshtml";
}

<h2>AllListPatient</h2>

<div class="">
    <table class="table" id="allpatientList" style="width:100%!important">
        <thead>
            <tr>
                <th>PatientName</th>
                <th>SSNumber</th>
                <th>DOB</th>
                <th>Gander</th>
                <th>PhoneNumber</th>
                <th>Email</th>
                <th>Address</th>                             
            </tr>
        </thead>
        <tfoot>
        </tfoot>
    </table>

</div>