
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<button onclick="StudentTable();">Click</button>

<div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Password</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="studentrecords">

        </tbody>
    </table>
</div>
<script src="~/Scripts/Studentjsfile.js"></script>
